<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Stylist</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
    <h2>Edit: @Model.GetName()</h2>
    <form action="/client-edit/@Model.GetId()" method="post">
      <div class="form-group">
        <input type="hidden" name="_method" value="PATCH">
      </div>
      <div class="form-group">
        <input name="client-id" type="hidden" value="@Model.GetId()">
        <label for="client-name">Client Name</label>
        <input name="client-name" type="text">
        <button type="submit">Submit</button>
      </div>
    </form>
    <a href="/">Home</a>
  </body>
</html>
