<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to Awesome Salon!</h1>
    <h4><a href="/stylists">See our stylists</a></h4>
    <h4><a href="/stylists/new">Add a stylist</a></h4>
    <h4><a href="/clients/new">Add a client</a></h4>
  </body>
</html>
