<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stylists</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
    <h2>All Our Stylists</h2>
    <ul>
      @foreach(var stylist in Model)
      {
        <li><a href="/stylist/@stylist.GetId()">@stylist.GetName()</a> | <a href="/stylist/edit/@stylist.GetId()">Edit</a> | <a href="/stylist/delete/@stylist.GetId()">Delete</a></li>
      }
    </ul>
    <a href="/stylists/new">Add in a stylist</a>
    <a href="/">Home</a>
  </body>
</html>
