<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Stylist</title>
      <link href="/Content/css/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
    <form action="/stylists/new" method="post">
      <div class="form-group">
        <label for="stylist-name">Add a stylists name</label>
        <input name="stylist-name" type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Add Stylist</button>
    </form>
  </body>
</html>
