<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <h2>Success!</h2>
    <a href="/">Home</a>
  </body>
</html>
